# Ignore the salami directory and its contents
reports/
captures/
kalkun/*
!kalkun/date/
!kalkun/date/**
rulaad/*
!rulaad/date/
!rulaad/date/**
salami/*
!salami/date/
!salami/date/**
veis/*
!veis/date/
!veis/date/**
vana_skript/
openrouter_key.env
